<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Bootstrap CSS -->
    <!-- Bloggy -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav justify-content-center col">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog/write">Write</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog/contact">Contact</a>
                </li>
              </ul>
            <!-- <a class="navbar-brand" href="#">something cool</a>
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/blog/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog/write">Write</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog/contact">Contact</a>
              </li>
            </ul> -->
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
    

{% if messages %}
{% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
       <strong>{{ message }}</strong> 
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}      
{% endif %}


{% block body %} {% endblock body %}


  <div class="container-fluid px-0">

    
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331;"
            >
     
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        
        <div>
          <a href="" class="text-white me-4">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-github"></i>
          </a>
        </div>
        
      </section>
      
      <section class="">
        <div class="container text-center text-md-start mt-5">
          
          <div class="row mt-3">
            
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              
              <h6 class="text-uppercase fw-bold">Company name</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Lorem ipsum dolor sit.</a>
              </p>
              <p>
                <a href="#!" class="text-white">Lorem ipsum dolor sit.</a>
              </p>
              <p>
                <a href="#!" class="text-white">Lorem ipsum dolor sit.</a>
              </p>
              <p>
                <a href="#!" class="text-white">Lorem ipsum dolor sit.</a>
              </p>
            </div>
            
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
             
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
          </div>
        </div>
      </section>
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        <a class="text-white" href="https://something.com/"
           >something.com</a
          >
      </div>
    </footer>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>